@media (min-width: 651px) and (max-width: 767px) {
    #play{
        max-width: 60px;
        max-height: 60px;
    }

    #questionName{
        font-size: 20px;
    }

    button{
        font-size:16px;
    }

    h1{
        font-size: 28px;
    }

    #score {
        font-size: 20px;
    }
}