@font-face{
    font-family: Fedra;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Medium.otf');
}

@font-face{
    font-family: FedraBold;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Bold.otf');
}

@font-face{
    font-family: FedraBook;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Book.otf');
}

body {
	background: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fedra;
	color: #436980;
}

.parent {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parent:first {
    border: 2px solid black;
}

#play {
	background: #F3F3F3;
	width: 63px;
	height: 29px;
	box-shadow: 5px 5px 5px #DEDEE680, -3px -3px 5px #FEFEFE;
	border-radius: 27px;
    cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;

	position: fixed;
	bottom: 27px;
	left: 420px;
}

#play svg {
	transition: 0.3s;
	width: 80%;
	height: 80%;
}

#play .circle:hover svg {
	fill: #9194E396;
}

#hollow {
	transition: 0.5s;
	border-radius: 27px;
	position: absolute;
	width: 61px;
	height: 27px;
	z-index: 2;
	box-shadow: inset 1px 2px 3px 1px #DEDEE680;
}

#bar {
	background: #F3F3F3;
	border-radius: 27px;
	position: absolute;
	width: 59px;
	height: 25px;
	z-index: 3;
	box-shadow: 1px 1px 1px #DEDEE69E;
	position: absolute;
	left: 2px;
}

.circle {
	transition: 0.5s !important;
	width: 25px;
	height: 25px;
	box-shadow: -1px 2px 2px #00000029, 2px -1px 2px #FEFEFE;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;
	background: #F3F3F3;

	position: absolute;
}

.circle div {
	z-index: 4;
	border-radius: 100%;
	position: absolute;
	width: 21px;
	height: 21px;
	box-shadow: -1px 1px 1px #D7D7DB7B;
}

#scoreNum {
	color: #e8d755;
	position: absolute;
	left: 332px;
	top: 66px;
	font-family: FedraBold;
	font-size: 72px;
}

#outcome {
	position: absolute;
	left: 35px;
	top: 21px;
	height: 357px;
  	width: 279px;
}

.questionName {
	box-shadow: 3px 3px 4px #DEDEE680, -2px -2px 2px #FEFEFE;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 326px;
	height: 376px;
	border-radius: 10px;
	padding: 18px;
}

.questionName img {
	width: 290px;
	height: 120px;
}

.questionName h2 {
	margin-top: 10px;
	width: 300px;
    font-size: 33px;
	font-weight: normal;
	overflow: auto;
}

.questionName .circle {
	width: 8px ;
	height: 8px;
	position: absolute;
	margin: 10px;
}

.questionName .circle div {
	width: 6px;
	height: 6px;
}

.questionName .circle:nth-child(1) {
    top:0;
    left:0;    
}

.questionName .circle:nth-child(2) {
    top:0;
    right:0;
}

.questionName .circle:nth-child(3) {
    bottom:0;
    left:0;
}

.questionName .circle:nth-child(4) {
    bottom:0;
    right:0;
}

#questions {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 13px;
	height: 376px;
	width: 350px;
	margin-left: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-left: 25px;
}

.item:last-child {
	margin: 0;
}

.item {
	margin-bottom: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#questions div {
    text-align: center;
	width: 100%;
}

.container {
	width: 675px;
	height: 402px;
	border-radius: 19px;
	box-shadow: 5px 5px 5px #DEDEE680, -3px -3px 5px #FEFEFE;
    padding: 13px;
	background: #F3F3F3;
	margin-bottom: 50px;
	position: fixed;

	display: flex;
	flex-direction: row;
}

#name {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

#name h1 {
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	width: 560px;
}

#score {
	position: absolute;
	left: 332px;
	bottom: 73px;
	height: 170px;
  	width: 294px;
	pointer-events: none;
}

#score h2 {
	color: #5D6B7E !important;
	font-family: FedraBook;
    font-size: 12px;
	font-weight: normal;
	height: 100%;
}

.images {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.image {
    min-width: 250px;
    max-width: 400px;
}

button {
	padding: 14px 10px 10px 21px;
	
	font-family: FedraBook;
	font-size: 13px;
	font-weight: lighter;
	width: 270px;
	height: 53px;
    cursor: pointer;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #DEDEE680, -3px -3px 5px #FEFEFE;
	text-align: left;
	color:#5D6B7E;
}

button:hover {
	color: #5D6B7E8B;
}

.click {
	border-radius: 10px;
	position: absolute;
	margin-top: 2px;
	margin-left: 2px;
	width: 266px !important;
	height: 49px;
	margin: 0 !important;
	box-shadow: inset 1px 2px 2px 1px #DEDEE680, inset -1px -1px 5px #ffffff;
	pointer-events: none;
}

#undo {
	display: none;
	transition: 0.2s;
	width: 30px !important;
	height: 30px !important;
	position: fixed;
	bottom: 31px;
	left: 22px;
	cursor: pointer;
}

#undo div {
	width: 26px !important;
	height: 26px !important;
}

#undo svg {
	fill: #e8d755;
}

#undo:hover svg{
	fill: #E8D75579;
}

#undo:active svg {
	fill: #E8D75553;
}