@font-face{
    font-family: Fedra;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Medium.otf');
}

body {
	background: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fedra;
	color: #5D6B7E;
}

.parent {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parent:first {
    border: 2px solid black;
}

#play {
	background: #F3F3F3;
	width: 63px;
	height: 29px;
	box-shadow: 5px 5px 5px #DEDEE680, -3px -3px 5px #FEFEFE;
	border-radius: 27px;
    margin: 15px;
    cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;

	position: fixed;
	top: 520px;
	left: 420px;
}

#play img {
	width: 80%;
	height: 80%;
}

#hollow {
	transition: 0.5s;
	border-radius: 27px;
	position: absolute;
	width: 61px;
	height: 27px;
	z-index: 2;
	box-shadow: inset 1px 2px 3px 1px #DEDEE680;
}

#bar {
	background: #F3F3F3;
	border-radius: 27px;
	position: absolute;
	width: 59px;
	height: 25px;
	z-index: 3;
	box-shadow: 1px 1px 1px #DEDEE69E;
	position: absolute;
	left: 2px;
}

#circle {
	width: 25px;
	height: 25px;
	box-shadow: -1px 2px 2px #00000029, -1px -1px 25px #FEFEFE;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;

	background: #F3F3F3;

	position: absolute;
}

#circle div {
	z-index: 4;
	border-radius: 100%;
	position: absolute;
	width: 21px;
	height: 21px;
	box-shadow: -1px 1px 1px #D7D7DB7B;
}

#questionName {
	box-shadow: 3px 3px 2px #DEDEE680, -2px -2px 2px #FEFEFE;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 340px;
	border-radius: 10px;
	padding: 16px;
}

#questionName img {
	width: 300px;
	height: 150px;
}

#questionName h2 {
    font-size: 33px;
	color: #D96A6A;
}

#questions {
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 13px;
	height: 100%;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#questions div {
    text-align: center;
    margin-top: 1.5rem;
	width: 100%;
}

.container {
	width: 675px;
	height: 402px;
	border-radius: 19px;
	box-shadow: 5px 5px 5px #DEDEE680, -3px -3px 5px #FEFEFE;
    padding: 13px;
	background: #F3F3F3;
	margin-bottom: 50px;
	position: fixed;

	display: flex;
	flex-direction: row;
}

#name {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

#name h1 {
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	width: 560px;
}

#score h2 {
    font-size: 4vw;
    text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.images {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.image {
    min-width: 250px;
    max-width: 400px;
}

button {
	width: 270px;
	font-size: 13px;
	height: 53px;
    padding: 5%;
    cursor: pointer;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #DEDEE680, -3px -3px 5px #FEFEFE;
	text-align: left;
}

button:hover {
	color: #5D6B7E8B;
}

/* button:active {
	box-shadow: inset 3px 3px 8px #bac3d6, -3px -3px 25px white;
} */

.click {
	border-radius: 10px;
	position: absolute;
	width: 267px !important;
	height: 50px;
	margin: 0 !important;
	box-shadow: inset 1px 3px 3px 1px #DEDEE680;
	pointer-events:none;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
}